header  {
    display: grid ;
    grid-template-columns: 100px 1fr 140px;
    grid-template-rows: 100px ;
    margin: 0px;
    border-top: 0px;
    background-color: #77D970;

}
header h1 {
    display: flex;
    align-items: center;
    justify-content: left;
    font-style: italic;
    margin-left: 10px;
    
}
 .logo {

    height: 80px ;
    width: 80px ;
    background-size: cover;
    margin: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
} 
header nav ul button{
    height: 20px ;
    width: 80px ;
    margin: 3px 0px;

    align-items: center;
    justify-content: center;
   
}
/* ................................main part ..................................*/

main {
    height: 400px;
}
main h3 {
    background-color: #77D970; 
    justify-content: center;
    align-items: center;
}

main nav button {
    align-items: center;

    height: 20px ;
    width: 70px ;
    margin-right: 380px;
    margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#tasks {
    width: 80%;
    align-items: center;
    border-collapse: collapse;
}

#tasks td, #tasks th {
    border: 1px solid rgb(10, 10, 10);
    padding: 6px;
    text-align: center;
  }

  #tasks th {
    padding-top: 12px;
    padding-bottom: 12px;
    
    background-color: #04AA6D;
    color: #F5F5F5;
  }
  

/* ................................footer part ..................................*/
footer{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #77D970;
    

}
footer img{
    height: 20 px ;
    width: 20px;
    background-size: cover;
    align-items: left;
 
}
footer p{
    margin-right: 300px;
}